<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="in.vk.beans.Teacher" id="tec" lazy-init="true">
		<property name="teacher" ref="std" />
	</bean>

	<bean class="in.vk.beans.Student" id="std">
		<property name="student" ref="tec"/>
	</bean>

</beans>