<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- target -->
	<bean class="in.vk.services.BankTransactions" id="bankTransId" />

	<bean class="in.vk.aspects.LoggingAspect" id="LogAspectsId" />

	<bean class="org.springframework.aop.framework.ProxyFactoryBean"
		id="proxyId">
		<property name="target" ref="bankTransId" />
		<property name="interceptorNames">
			<list>
				<value>LogAspectsId</value>
			</list>
		</property>
	</bean>



</beans>