<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=" http://www.springframework.org/schema/beans 
        				 http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-init-method="xyz">

  <bean class="in.vk.beans.Student" id="stdObj1">
  	<property name="name" value="Vineet Kundu"/>
  	<property name="rollno" value="102"/>
  </bean>
  
  <bean class="in.vk.beans.Student" id="stdObj2">
  	<property name="name" value="Vineet Kundu"/>
  	<property name="rollno" value="102"/>
  </bean>
  
  <bean class="in.vk.beans.Student" id="stdObj3">
  	<property name="name" value="Vineet Kundu"/>
  	<property name="rollno" value="102"/>
  </bean>

</beans>