<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- bean definitions here -->

	<bean class="in.vk.services.BankTransaction" id="banktransId" />

	<bean class="in.vk.aspects.LoggingAspect" id="LogAspectId" />
	
	<aop:config>
		<aop:aspect ref="LogAspectId" id="">
			<aop:pointcut expression="execution(*n.vk.services.BankTransaction.*(..))" id="btPointcut"/>
			<aop:before method="myLoggingBefore" pointcut-ref="btPointcut"/>
		</aop:aspect>
	</aop:config>


</beans>