<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <bean class="in.vk.beans.Student" id="stdObj2">
  	<constructor-arg value="Mayank"/>
  	<constructor-arg value="345"/>
  	<constructor-arg value="85.67"/>
  </bean>

</beans>